body{
    background-color: black;
    background-size: cover;
}
.huevo{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    
}
p{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}